# Redacted Figures
docs/img/fig/17C__edFigure_Deneauve1983_fig8_annotated_layout.jpg
docs/img/fig/43C__NarrativeViz_ThesisFigures_B1_P_199_labeled.jpg
docs/img/fig/44C__gures_B1_P_200_annotated_B1_P_200_annotated.png
docs/img/fig/45C__ures_B2_J_032a_segments_B2_J_032a_annotated.png
docs/img/fig/46C__gments_B2_J_032a_segment5_annotated_cropped.png
docs/img/fig/47C__gments_B2_J_032a_segment4_annotated_cropped.png
docs/img/fig/48C__gments_B2_J_032a_segment3_annotated_cropped.png
docs/img/fig/49C__ThesisFigures_PixelProblem_Pers__eNotSquare.png
docs/img/fig/50C__z_ThesisFigures_PixelProblem_PersonalSquare.png
docs/img/fig/53C__tiveViz_ThesisFigures_PixelProblem_Example1.png
docs/img/fig/54C__tiveViz_ThesisFigures_PixelProblem_Example2.png
docs/img/fig/55C__tiveViz_ThesisFigures_PixelProblem_Example3.png
docs/img/fig/56C__rrativeViz_ThesisFigures_PixelProblem_Fixed.png
docs/img/fig/57C__ucedFigures_CopiedFromData_B1_J_038a_lowres.png
docs/img/fig/58C__ucedFigures_CopiedFromData_B1_J_100b_lowres.png
docs/img/fig/59C___ReproducedFigures_CopiedFromData_B1_P_144a.jpg
docs/img/fig/60C__eproducedFigures_CopiedFromData_B1_P_168a-1.jpg
docs/img/fig/61C__eproducedFigures_CopiedFromData_B1_P_168a-2.jpg
docs/img/fig/62C__dFigures_CopiedFromData_B1_P_168a-3_rotated.jpg
docs/img/fig/63C__ReproducedFigures_CopiedFromData_B1_P_186a.jpg
docs/img/fig/64C__s_ReproducedFigures_CopiedFromData_B1_P_199.jpg
docs/img/fig/65C__s_ReproducedFigures_CopiedFromData_B1_P_200.jpg
docs/img/fig/66C__s_ReproducedFigures_CopiedFromData_B2_J_009.png
docs/img/fig/67C__ucedFigures_CopiedFromData_B2_J_010a_lowres.png
docs/img/fig/68C__cedFigures_CopiedFromData_B2_J_032a_cropped.png
docs/img/fig/69C__edFigures_CopiedFromData_B2_J_078a-1_lowres.png
docs/img/fig/70C__edFigures_CopiedFromData_B2_J_078a-2_lowres.png
docs/img/fig/71C__cedFigures_CopiedFromData_B3_P_064a_cropped.jpg
docs/img/fig/72C__ReproducedFigures_CopiedFromData_B3_P_128-2.jpg
docs/img/fig/73C__dFigures_CopiedFromData_D1893_G_94a_cropped.jpg
docs/img/fig/74C__cedFigures_CopiedFromData_Deneauve1983_fig8.jpg
docs/img/fig/75C__eproducedFigures_CopiedFromData_D1990_K_151.jpg
docs/img/fig/76C__eproducedFigures_CopiedFromData_D1990_K_152.jpg